<template>
<div class="bg-image overflow-hidden" style="background-image: url('http://placeimg.com/640/480/any');">
    <div class="bg-primary-dark-op">
        <div class="content content-narrow content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center mt-5 mb-2 text-center text-sm-left">
                <div class="flex-sm-fill">
                    <h1 class="font-w600 text-white mb-0" data-toggle="appear">Dashboard</h1>
                    <h2 class="h4 font-w400 text-white-75 mb-0" data-toggle="appear" data-timeout="250">Bienvenidos</h2>
                </div>
                <div class="flex-sm-00-auto mt-3 mt-sm-0 ml-sm-3">
                    <span class="d-inline-block " data-toggle="appear" data-timeout="350">
                        <router-link class='btn btn-primary px-4 py-2' to="/clients/create">
                            <i class="fa fa-plus mr-1"></i> Nuevo Cliente
                        </router-link>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</template>