<template lang="pug">
aside#side-overlay.font-size-sm
	.content-header.border-bottom
		a(class="img-link mr-1" href="javascript:void(0)")
			img(class="img-avatar img-avatar32" src="/media/avatars/avatar10.jpg" alt="")
		.ml-2
			a(class="link-fx text-dark font-w600" href="javascript:void(0)") {{ userLogin.user.first_name }} {{ userLogin.user.last_name }}
		a(class="ml-auto btn btn-sm btn-dual" href="javascript:void(0)" data-toggle="layout" data-action="side_overlay_close")
			i( class="fa fa-fw fa-times text-danger")
	.content-side
		p Contenido desde vue
</template>

<script>
	import { mapState } from 'vuex'
	
	export default {
		computed: {
			...mapState(['userLogin'])
		}
	}
</script>