<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-user-edit
							span  Editar usuario
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-outline-dark' to="/users")
										span Cancelar
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Datos del usuario
			.block-content.block-content-full
				.alert.alert-warning(v-if="errors.errors")
					p {{ errors.message }}
					ul
						li(v-for='error in errors.errors') {{ error[0] }}
				.row
					.col-md-12
						.content-heading.border-bottom.mb-1.pb-2 Datos personales
						.form-group.form-row
							.col-6
								label Nombres
								input.form-control(v-model='users.user.first_name')
							.col-6
								label Apellidos
								input.form-control(v-model='users.user.last_name')
						.content-heading.border-bottom.mb-1.pb-2 Datos de contacto
						.form-group.form-row
							.col-6
								label Correo
								input.form-control(v-model='users.user.email')
							.col-6
								label Celular
								input.form-control(v-model='users.user.mobil')
						.form-group.form-row
							button.btn.btn-primary(@click='update') Guardar
		.block.block-rounded
			.block-content
</template>

<script>
	import { mapActions, mapState, mapGetters } from 'vuex'
	export default {
		data () {
			return {
				first_name: '',
				last_name: '',
				email: '',
				mobil: '',
				errors: {}
			}
		},

		created () {
			this.editUser(this.$route.params.user)
		},

		computed: {
			...mapState(['users'])
		},

		methods: {
			...mapActions({
				editUser: 'users/editUser'
			}),

			update () {
				this.$store.dispatch('users/updateUser', this.users.user)
					.then( () => {
						this.$swal('Se actualizo con exito el usuario.')
						this.$router.push('/users')
					})
					.catch(errors => this.errors = errors)
			}
		}
	}
</script>
