<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-users
							span  Lista de usuario
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-primary' to="/users/create")
										span Nuevo usuario
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Usuarios del sistema
			.block-content.block-content-full
				div.table-responsive
					table.table.table-bordered.table-striped.table-vcenter.table-hover
						thead
							tr
								th.text-center(width='100px')
									i.fa.fa-user
								th Nombre
								th Celular
								th Correo
								th.text-center(width='100px') Acciones
						tbody
							tr(v-for="user in users")
								td.text-center
									img.img-avatar.img-avatar48(src='/media/avatars/avatar0.jpg')
								td {{ user.full_name }}
								td {{ user.mobil }}
								td {{ user.email }}
								td.text-center
									.btn-group
										button(type="button" class="btn btn-sm btn-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit" aria-describedby="tooltip988673" @click='show(user.id)')
											i.fa.fa-fw.fa-pencil-alt
										button(type="button" class="btn btn-sm btn-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Delete")
											i.fa.fa-fw.fa-times
</template>

<script>
	import { mapActions, mapGetters, mapState } from 'vuex'

	export default {
		created () {
			if ( !this.loaded ) {
				this.block()
				this.getUsers().then(() => {
					console.log('asds')
					this.block()
				})
			}
		},

		computed: {
			...mapGetters({
				users: 'users/allUsers',
			}),
			...mapState({
				loaded: 'users/loaded'
			})
		},
		methods: {
			...mapActions({
				getUsers: 'users/getUsers',
			}),

			show (id) {
				this.$router.push(`/users/${id}`)
			},

			block () {
				//One.block('state_toggle', '.block')
			}
		}	
	}
</script>