<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-store
							span  Editar proveeder
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-outline-secondary' to="/providers")
										span Cancelar
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Datos del usuario
			.block-content.block-content-full
				.alert.alert-warning(v-if="errors.errors")
					p {{ errors.message }}
					ul
						li(v-for='error in errors.errors') {{ error[0] }}
				.row
					.col-md-12
						.content-heading.border-bottom.mb-1.pb-2 Datos personales
						.form-group.form-row
							.col-4
								label Documento
								input.form-control(v-model='providers.provider.document')
							.col-4
								label Nombres
								input.form-control(v-model='providers.provider.name')
							.col-4
								label Representante
								input.form-control(v-model='providers.provider.representative')
						.content-heading.border-bottom.mb-1.pb-2 Datos de contacto
						.form-group.form-row
							.col-4
								label Correo
								input.form-control(v-model='providers.provider.email')
							.col-4
								label Celular
								input.form-control(v-model='providers.provider.mobil')
							.col-4
								label Telefono
								input.form-control(v-model='providers.provider.phone')
						.content-heading.border-bottom.mb-1.pb-2 Direccion
						.form-group.form-row
							.col-12
								label Direccion
								input.form-control(v-model='providers.provider.address')
						.form-group.form-row
							button.btn.btn-primary(@click='update') Guardar
		.block.block-rounded
			.block-content
</template>

<script>
	import { mapActions, mapState, mapGetters } from 'vuex'
	export default {
		data () {
			return {
				errors: {}
			}
		},

		created () {
			this.editUser(this.$route.params.provider)
		},

		computed: {
			...mapState(['providers'])
		},

		methods: {
			...mapActions({
				editUser: 'providers/editProvider'
			}),

			update () {
				this.$store.dispatch('providers/updateProvider', this.providers.provider)
					.then( () => {
						this.$swal('Se actualizo con exito el proveedor.')
						this.$router.push('/providers')
					})
					.catch(errors => this.errors = errors)
			}
		}
	}
</script>
