<template lang="pug">
tr(v-if='editing')
	td {{ price.id }}
	td {{ price.name }}
	td {{ price.description }}
	td.text-center
		.btn-group
			button(class="btn btn-sm btn-primary" @click='edit')
				i.fa.fa-fw.fa-pencil-alt
tr(v-else)
	td {{ price.id }}
	td
		input.form-control(v-model='data_edit.name')
	td
		input.form-control(v-model='data_edit.description')
	td.text-center
		.btn-group
			button(class="btn btn-sm btn-success" @click='update')
				i.fa.fa-fw.fa-save
			button(class="btn btn-sm btn-default" @click='edit')
				i.si.si-close
</template>

<script>
	import { mapActions } from 'vuex'
	export default {
		props: ['price'],

		data () {
			return {
				data_edit: {
					name: '',
					description: ''
				},
				editing: 'false'
			}
		},

		methods: {
			...mapActions({
				updatePrice: 'config/updatePrice'
			}),

			edit () {
				this.loadData()
				this.editing = !this.editing
			},

			loadData () {
				let price = this.price

				this.data_edit = {
					name: price['name'],
					description: price['description']
				}				
			},

			update () {
				this.updatePrice({id: this.price.id, data: this.data_edit}).then(() => {
					this.edit()
				})
			}
		}
	}
</script>