<template lang="pug">
	nav#sidebar(aria-label="Main Navigation")
		side-header
		side-navigation
</template>

<script>
	import SideHeader from './SideHeader'
	import SideNavigation from './SideNavigation'

	export default {
		components: { SideHeader, SideNavigation }
	}
</script>