<template lang="pug">
.content-side.content-side-full
	ul.nav-main
		li.nav-main-heading Menu
		li.nav-main-item(v-for='r in $router.options.routes')
			router-link.nav-main-link.active(:to="r.path" v-if='!r.children')
				i.nav-main-link-icon(:class='r.icon')
				span.nav-main-link-name {{ r.name }}
			a(class="nav-main-link" href='#' :to='r.path' data-toggle="submenu" aria-haspopup="true" aria-expanded="true" :class="r.children ? 'nav-main-link-submenu' : ''" v-else)
				i.nav-main-link-icon(:class='r.icon')
				span.nav-main-link-name {{ r.name }}
			ul.nav-main-submenu
				li.nav-main-item(v-for="sr in r.children")
					router-link.nav-main-link.active(:to="sr.path" v-if='!sr.no_show')
						span.nav-main-link-name {{ sr.name }}
</template>

<script>
	export default {

	}
</script>
