<template lang="pug">
div
	hero
	.content
		.row
			div(class="col-6 col-md-3 col-lg-6 col-xl-3")
				a(class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)")
					div(class="block-content block-content-full")
						div(class="font-size-sm font-w600 text-uppercase text-muted") Clientes
						div(class="font-size-h2 font-w400 text-dark") {{ clients.length }}
			div(class="col-6 col-md-3 col-lg-6 col-xl-3")
				a(class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)")
					div(class="block-content block-content-full")
						div(class="font-size-sm font-w600 text-uppercase text-muted") Pedidos Pendientes
						div(class="font-size-h2 font-w400 text-dark") {{ clients.length }}
			div(class="col-6 col-md-3 col-lg-6 col-xl-3")
				a(class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)")
					div(class="block-content block-content-full")
						div(class="font-size-sm font-w600 text-uppercase text-muted") Facturas Pendientes
						div(class="font-size-h2 font-w400 text-dark") {{ clients.length }}
			div(class="col-6 col-md-3 col-lg-6 col-xl-3")
				a(class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)")
					div(class="block-content block-content-full")
						div(class="font-size-sm font-w600 text-uppercase text-muted") Pagos Pendientes
						div(class="font-size-h2 font-w400 text-dark") {{ clients.length }}
</template>

<script>
	import Hero from './../components/widgets/Hero'

	import { mapGetters, mapActions } from 'vuex'
	export default {
		components: { Hero },
		created(){
			$('title').text('MARTHA | Dashboard')
			this.getUsers()
			this.getClients()
			this.getProviders()

		},
		computed: {
			...mapGetters({
				clients: 'clients/allClients',
			}),
			count(){
				return this.$store.state.count
			}
		},

		methods: {
			...mapActions({
				getUsers: 'users/getUsers',
				getClients: 'clients/getClients',
				getProviders: 'providers/getProviders',
			})
		}
	}
</script>