<template lang="pug">
div
	slot(name='primary')
		.bg-gray
			div(class="content content-full")
				div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
					h1(class="flex-sm-fill h3 my-2") 
						i.fa.fa-store
						span  Nuevo producto
					nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
						ol(class="breadcrumb breadcrumb-alt")
							li(class="breadcrumb-item" aria-current="page")
								router-link(class='btn btn-outline-secondary' to="/inventories")
									span Cancelar
	slot
	.col-md-12
		form-product-info(@loadData='eventForm')
		form-product-articles(@loadData='eventForm')
		.block.block-rounded.block-themed
			.block-content.block-content-full
				.row
					.col-sm-6.col-md-6.col-lg-4.col-xl-3
						.py-5.text-center
							label(for='file').item.item-1x.item-rounded.bg-dark.text-white.mx-auto
								i.fa.fa-1x.fa-plus
							.font-size-h4.font-w600.pt-3.mb-0 Adjuntar foto
								input(type='file' ref='files' id='file' accept="image/x-png,image/gif,image/jpeg" multiple @change='preview')
					.col-sm-6.col-md-6.col-lg-4.col-xl-3(v-for='img in imgs')
						.img-wrap
							img(class="img-fluid" :src="img" alt="")
				.form-group.form-row
					button.btn.btn-primary(@click='save') Guardar

</template>

<script>
	import { mapGetters, mapActions } from 'vuex'
	import Multiselect from 'vue-multiselect'

	import FormProductInfo from './components/FormProductInfo'
	import FormProductArticles from './components/FormProductArticles'
	
	export default {
		components: { Multiselect, FormProductInfo, FormProductArticles },
		data () {
			return {
				formData: new FormData(),
				form: {
					provider: '',
					name: '',
					price: '',
					cost: '',
					initial_amount: '',
					bar_code: '',
					reference: '',
					description: '',
					articles: []
				},
				files: [],
				imgs: [],
				errors: {}
			}
		},

		methods: {
			save () {
				//One.block('state_loading', '.block')
				if (!this.verifyQuantity()) {
					this.$swal({
					  title: 'Cantidades de articulos diferentes',
					  type: 'warning',
					  confirmButtonColor: '#3085d6',
					  confirmButtonText: 'Verificar'
					})
					return 
				}
				
				axios.post('/api/inventories/products', this.formData)
					.then(({data}) => {

						this.$swal('El articulo se agrego correctamente.')
						this.$router.push('/inventories')

					}).catch(({response}) => {
						
						window.scrollTo(0, 0);
						this.errors = response.data
						One.block('state_normal', '.block')

					}
				)
			},

			eventForm (data) {
				if(data.field){
					this.formData.append(data.field, data.value)
					this.form[data.field] = data.value
				}else{

					this.form.articles = data
					for (let article in data) {					
						for (let field in data[article]) {							
							this.formData.append(`articles[${article}][${field}]`, data[article][field])
						}
					}

				}
			},

			verifyQuantity () {
				let quantity = this.form.initial_amount
				let quantity_articles = 0 
				
				for (let article in this.form.articles) {
					quantity_articles = quantity_articles + parseInt(this.form.articles[article].quantity)
				}

				return parseInt(quantity) == quantity_articles
			},

			preview (e) {
				this.files = []
				
				this.files = e.target.files
				
				this.render()
			},

			render () {

				this.imgs = []
				
				for(let file in this.files) {
				
					this.formData.append(`file[${file}]`, this.files[file])
				
					let reader = new FileReader();
	            
	                reader.readAsDataURL(this.files[file]);
	            
	                reader.onloadend = e => {
	                    let src = e.target.result;
	                    this.imgs.push(src);
	                };
				}
			}
		}
	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped="">
	label {
		cursor: pointer;
	}
	input[type='file'] {
		display: none;
	}
	.img-wrap {
		border: solid 1px #ddd;
		border-radius: 10px;
		padding: 5px;
		margin: 5px;
	}
	img {
		width: 100%;
		background-image: url();
		border-radius: 10px;
	}
</style>

<style>
	body {
		background: #999;
	}
</style>