<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-store
							span  Lista de articlus
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-primary' to="/inventories/create")
										span Nuevo Articulo
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Lista de articulos
				.block-options
							.dropdown
								button(type="button" 
										class="btn-block-option dropdown-toggle btn-primary" 
										data-toggle="dropdown" 
										aria-haspopup="true" 
										aria-expanded="false") {{ prices[price_selected].name }}
								div(class="dropdown-menu dropdown-menu-right font-size-sm")
									a.dropdown-item(href='#' v-for='(price, index) in prices' @click='selectPrice(index)') {{ price.name }}
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th.text-center
								i.fa.fa-tshirt
							th Item
							th.d-none.d-sm-table-cell Proveedor
							th.text-center Disponible
							th.d-none.d-sm-table-cell Costo
							th Precio
							th Valor
					tbody
						tr(v-for="product in products")
							td.text-center
								img(class="img-avatar img-avatar64" :src="product.imgs ? imgUrl(product.imgs[0].url) : '/media/avatars/avatar0.jpg'")
							td.font-size-sm
								p.font-w600.mb-1
									router-link(:to="url(product.id)") {{ product.name }}
								p.text-muted.mb-0 {{ product.reference }}
							td.d-none.d-sm-table-cell {{ product.provider.name }}
							td.text-center {{ product.initial_amount - product.quantity_sold }} Unidades
							td.d-none.d-sm-table-cell {{ product.cost }}$
							td.text-center {{ product.prices[price_selected]['pivot']['amount'] }}$
							td.text-center {{ product.prices[price_selected]['pivot']['amount'] * (product.initial_amount - product.quantity_sold) }}$
						tr
							td.text-right(colspan='4') Total valor de invnetario
							td {{ total }}$

</template>

<script>
	import { mapActions, mapGetters } from 'vuex'

	export default {

		data () {
			return {
				price_selected: 0
			}
		},

		created () {
			this.getProducts()
			this.getPrices()
		},

		computed: {
			...mapGetters({
				products: 'inventories/allProducts',
				prices: 'config/allPrices'
			}),

			total () {
				let suma = 0

				for(let product in this.products){
					console.log(this.products[product]['prices'][this.price_selected]['pivot']['amount'])
					suma = suma + this.products[product]['prices'][this.price_selected]['pivot']['amount'] * (this.products[product].initial_amount - this.products[product].quantity_sold)
				}

				return suma
			}
		},

		methods: {
			...mapActions({
				getProducts: 'inventories/getProducts',
				getPrices: 'config/getPrices'
			}),

			url (item) {
				return `/inventories/items/${item}`
			},

			selectPrice (index) {
				this.price_selected = index
			},

			imgUrl(url) {
				return `/images?url=${url}`
			}
		}
	}
</script>