<template lang="pug">
div
	slot(name='primary')
		.bg-city
			.bg-black-50
				div(class="content content-full text-center")
					nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
						ol(class="breadcrumb breadcrumb-alt")
							li(class="breadcrumb-item" aria-current="page")
								router-link(class='btn btn-outline-secondary' to="/inventories")
									i.fa.fa-arrow-left
							li(class="breadcrumb-item" aria-current="page")
								router-link(class='btn btn-info' to="/inventories/create")
									span Nuevo Articulo
					.my-3
						img(class="img-avatar img-avatar-thumb" src="/media/icons/dress.svg")
					h1(class="h2 text-white mb-0") {{ product.name }}
					span.text-white-75 {{ product.reference }}
					br
					span.text-white-75 {{ product.description }}
		div(class="bg-white border-bottom")
			div(class="content content-boxed")
				div(class="row items-push text-center")
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Disponibles
						a(class="link-fx font-size-h3" href="javascript:void(0)") {{ available }}
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Vendidos
						a(class="link-fx font-size-h3" href="javascript:void(0)") {{ product.quantity_sold }}
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Facturado
						a(class="link-fx font-size-h3" href="javascript:void(0)") 100
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Pendiente
						a(class="link-fx font-size-h3" href="javascript:void(0)") 100
	.content
		.row
			.col-md-8
				div(class="block block-rounded block-themed")
					.block-header.bg-modern
						h3.block-title Tallas y colorer del "{{ product.name }}"
					div.table-responsive
						table.table.table-bordered.table-striped.table-vcenter.table-hover
							thead
								tr.text-center
									th Talla
									th Color
									th Vendidos
									th Disponibles
							tbody
								tr.text-center(v-for='article in product.articles')
									td {{ article.size }}
									td {{ article.color }}
									td {{ article.quantity_sold }}
									td {{ article.quantity - article.quantity_sold }}
			.col-md-4
				div(class="block block-rounded block-themed")
					.block-header.bg-flat
						h3.block-title Precios del "{{ product.name }}"
					div.table-responsive
						table.table.table-bordered.table-striped.table-vcenter.table-hover
							thead
								tr.text-center
									th Tipo
									th precio
							tbody
								tr.text-center(v-for='price in product.prices')
									td {{ price.name }}
									td {{ price.pivot.amount }}$
			.col-md-12
				.block
					ul(class="nav nav-tabs nav-tabs-alt js-tabs-enabled bg-smooth-lighter" data-toggle="tabs" role="tablist")
						li.nav-item
							button.nav-link(@click='tabs.active = "sale_invoice"' :class='tabs.active == "sale_invoice" ? "active show" : ""') Facturas de ventas
						li.nav-item
							button.nav-link(@click='tabs.active = "invoice"' :class='tabs.active == "invoice" ? "active show" : ""') Facturas de compras
						li.nav-item
							button.nav-link(@click='tabs.active = "galery"' :class='tabs.active == "galery" ? "active show" : ""') Galeria
					.block-content.tab-content
						#sale_invoice.tab-pane(role="tabpanel" :class='tabs.active == "sale_invoice" ? "active show" : ""')
							h4.font-w400 Facturas de ventas
								div.table-responsive
									table.table.table-bordered.table-striped.table-vcenter.table-hover
										thead
											tr
												th Numero
												th prodicte
												th Creaccion
												th Vencimiento
												th Total
												th Pagado
												th Por pagar
												th Estado
												th Acciones
										tbody
											tr(v-for='invoice in product.invoices')
												td 
													router-link(:to="`/invoices/sale/${invoice.id}`") {{ invoice.id }}
												td Pedro J Gomez
												td {{ invoice.created_at }}
												td {{ invoice.expires }}
												td {{ invoice.total }}$
												td {{ invoice.paid }}$
												td.text-city {{ invoice.total - invoice.paid }}$
												td.text-flat {{ invoice.status }}
												td Botones
							
						#invoice.tab-pane(role="tabpanel" :class='tabs.active == "invoice" ? "active show" : ""')
							h4.font-w400 Facturas de compras
							p Lista de facturas con compras del articulos
						#galery.tab-pane(role="tabpanel" :class='tabs.active == "galery" ? "active show" : ""')
							h4.font-w400 Galeria
							.row
								.col-md-3.col-sm-6(v-for='img in product.imgs')
									img.img-responsive(:src='imgUrl(img.url)')
</template>

<script>
	import { mapActions, mapGetters } from 'vuex'

	export default {

		data () {
			return {
				tabs: {
					active: 'sale_invoice'
				}
			}
		},

		created () {
			this.showProduct(this.$route.params.item)
		},

		computed: {
			...mapGetters({
				product: 'inventories/showProduct'
			}),
			available() {
				let product = this.product
				return product.initial_amount - product.quantity_sold
			}
		},

		methods: {
			...mapActions({
				showProduct: 'inventories/showProduct'
			}),


			imgUrl(url) {
				return `/images?url=${url}`
			}
		}

	}
</script>

<style>
	.img-responsive {
		width: 100%;
	}
</style>