<template>
<footer id="page-footer" class="bg-body-light">
    <div class="content py-3">
        <div class="row font-size-sm">
            <div class="col-sm-6 order-sm-2 py-1 text-center text-sm-right">
                Developen with <i class="fa fa-heart text-danger"></i> by <a class="font-w600" href="https://pedrojgomez.com.ve" target="_blank">Pedro J Gomez</a>
            </div>
            <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-left">
                <a class="font-w600" href="https://enish.test" target="_blank">Enish</a> &copy; <span data-toggle="year-copy">2018</span>
            </div>
        </div>
    </div>
</footer>
</template>