<template lang="pug">
.content-header
	//Left Section
	.d-flex.align-items-center
		//Toggle Sidebar
		//Layout API, functionality initialized in Template._uiApiLayout(
		button(type="button"
				class="btn btn-sm btn-dual mr-2 d-lg-none"
				data-toggle="layout"
				data-action="sidebar_toggle")
			i.fa.fa-fw.fa-bars
		//Toggle Mini Sidebar
		//Layout API, functionality initialized in Template._uiApiLayout(
		button(type="button"
				class="btn btn-sm btn-dual mr-2 d-none d-lg-inline-block"
				data-toggle="layout"
				data-action="sidebar_mini_toggle")
			i(class="fa fa-fw fa-ellipsis-v")
		//Apps Modal
		//Opens the Apps modal found at the bottom of the page, after footer’s markup
		button(type="button"
				class="btn btn-sm btn-info mr-2"
				data-toggle="modal"
				data-target="#one-modal-apps")
			i.si.si-plus
		//Open Search Section (visible on smaller screens)
		//Layout API, functionality initialized in Template._uiApiLayout()
		button(type="button"
				class="btn btn-sm btn-dual d-sm-none"
				data-toggle="layout"
				data-action="header_search_on")
			i.si.si-magnifier
		//Search Form (visible on larger screens)
		search-component
	//Right Section
	.d-flex.align-items-center
		//User Dropdown
		.dropdown.d-inline-block.ml-2
			button(type="button" class="btn btn-sm btn-dual" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
				img(class="rounded" src="/media/avatars/avatar10.jpg'" style="width: 18px;")
				span(class="d-none d-sm-inline-block ml-1") {{ userLogin.user.first_name }}
				i(class="fa fa-fw fa-angle-down d-none d-sm-inline-block")
			div(class="dropdown-menu dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="page-header-user-dropdown")
				div(class="p-3 text-center bg-primary")
					img(class="img-avatar img-avatar48 img-avatar-thumb" src="media/avatars/avatar10.jpg" alt="")
				.p-2
					h5.dropdown-header.text-uppercase User Options
					a(class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)")
						span Profile
						span
							span(class="badge badge-pill badge-success") 1
							i.si.si-user.ml-1
					div(role="separator" class="dropdown-divider")
					h5(class="dropdown-header text-uppercase") Actions
					a(class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)")
						span Log Out
						i.si.si-logout.ml-1
		//Notifications Dropdown
		main-notification
		//Toggle Side Overlay
		//Layout API, functionality initialized in Template._uiApiLayout()
		button(type="button" class="btn btn-sm btn-dual ml-2" data-toggle="layout" data-action="side_overlay_toggle")
			i(class="fa fa-fw fa-list-ul fa-flip-horizontal")
</template>

<script>
	import MainNotification from './../../components/notification/header/MainNotification'
	import SearchComponent from './../../components/widgets/SearchComponent'

	import { mapState } from 'vuex'

	export default {
		components: { MainNotification, SearchComponent },

		computed: {
			...mapState(['userLogin'])
		}
	}
</script>
