<template lang="pug">
div
	slot(name='primary')
		.bg-modern
			.bg-black-50
				div(class="content content-full text-center")
					.my-3
						img(class="img-avatar img-avatar-thumb" src="/media/avatars/client.png")
					h1(class="h2 text-white mb-0") {{ client.full_name }}
					span.text-white-75 {{ client.mobil }} - {{ client.phone }}
					br
					span.text-white-75 {{ client.email }}
					br
					span.text-white-75 {{ client.address }}
		div(class="bg-white border-bottom")
			div(class="content content-boxed")
				div(class="row items-push text-center")
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Tipo Precio
						a(class="link-fx font-size-h3" href="javascript:void(0)") {{ client.type_price ? client.type_price['name'] : 'None'}}
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Facturado
						a(class="link-fx font-size-h3" href="javascript:void(0)") {{ invoiced }}$
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Pagado
						a(class="link-fx font-size-h3" href="javascript:void(0)") {{ paid }}$
					div(class="col-6 col-md-3")
						div(class="font-size-sm font-w600 text-muted text-uppercase") Por pagar
						a(class="link-fx font-size-h3" href="javascript:void(0)") {{ pending }}$
	.content
		.row
			.col-md-12
				.block.block-rounded.block-themed.block-fx-shadow
					.block-header.bg-city
						h3.block-title Facturas
					div.table-responsive
						table.table.table-bordered.table-striped.table-vcenter.table-hover
							thead
								tr
									th Numero
									th Creada
									th Vence
									th Estado
									th Pagado
									th Total
									th Por Pagar
							tbody
								template(v-if='client.invoices ? client.invoices.length > 0: 0')
									tr(v-for="invoice in client.invoices")
										td 
											router-link(:to="`/invoices/sale/${invoice.id}`") {{ invoice.id }}
										td {{ invoice.created_at }}
										td {{ invoice.expires }}
										td.text-flat {{ invoice.status }}
										td {{ invoice.paid }}$
										td {{ invoice.total }}$
										td {{ invoice.total - invoice.paid }}$
								template(v-else)
									tr
										td.text-danger(colspan='7') No hay factura para este cliente!
								tr
									td
									td
									td
									td
										strong TOTALES
									td {{ paid }}$
									td {{ invoiced }}$
									td {{ pending }}$

</template>

<script>
	import { mapActions, mapGetters } from 'vuex'

	export default {

		created () {
			this.getClient(this.$route.params.client)
		},

		computed: {
			...mapGetters({
				client: 'clients/showClient'
			}),

			invoiced () {
				let sum = 0
				let invoices = this.client.invoices

				for (let invoice in invoices) {
					sum =+ invoices[invoice].total
				}

				return sum
			},

			paid () {
				let sum = 0
				let invoices = this.client.invoices

				for (let invoice in invoices) {
					sum =+ invoices[invoice].paid
				}

				return sum				
			},

			pending () {
				return this.invoiced - this.paid
			}
		},

		methods: {
			...mapActions({
				getClient: 'clients/editClient'
			})
		}

	}
</script>