<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-user-plus
							span  Nuevo cliente
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-outline-secondary' to="/clients")
										span Cancelar
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Datos del cliente
			.block-content.block-content-full
				.alert.alert-warning(v-if="errors.errors")
					p {{ errors.message }}
					ul
						li(v-for='error in errors.errors') {{ error[0] }}
				.row
					.col-md-12
						.content-heading.border-bottom.mb-1.pb-2 Datos facturacion
						.form-group.form-row
							.col-6
								label Tipo de precios
								multiselect(:options='prices' track-by='name' label='name' v-model='price_select')
						.content-heading.border-bottom.mb-1.pb-2 Datos personales
						.form-group.form-row
							.col-6
								label Nombres
								input.form-control(v-model='first_name')
							.col-6
								label Apellidos
								input.form-control(v-model='last_name')
						.content-heading.border-bottom.mb-1.pb-2 Datos de contacto
						.form-group.form-row
							.col-4
								label Correo
								input.form-control(v-model='email')
							.col-4
								label Celular
								input.form-control(v-model='mobil')
							.col-4
								label Telefono
								input.form-control(v-model='phone')
						.content-heading.border-bottom.mb-1.pb-2 Direccion
						.form-group.form-row
							.col-12
								label Direccion
								input.form-control(v-model='address')
						.form-group.form-row
							button.btn.btn-primary(@click='save') Guardar
</template>

<script>
	import { mapActions, mapGetters } from 'vuex'
	import Multiselect from 'vue-multiselect'

	export default {
		components: { Multiselect },

		data () {
			return {
				first_name: '',
				last_name: '',
				email: '',
				mobil: '',
				phone: '',
				address: '',
				price_id: '',
				errors: {},
				select: {
					price: {}
				}
			}
		},

		created () {
			this.getPrices()
		},

		computed: {
			...mapGetters({
				prices: 'config/allPrices'
			}),

			price_select: {
				set (value) {
					this.select.price = value
					this.price_id = value.id
				},

				get () {
					return this.select.price
				}
			},
		},

		methods: {
			...mapActions({
				getPrices: 'config/getPrices'
			}),

			save () {
				this.$store.dispatch('clients/setClient', this.$data)
					.then( () => {
						this.$swal('Cliente guardado exitosamente.')
						this.$router.push('/clients')
					})
					.catch(errors => this.errors = errors)
			}
		}
	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

