<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-store
							span  Lista de articlus
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-primary' to="/inventories/create")
										span Nuevo Articulo
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Lista de articulos
			div.table-responsive
				table.table.table-bordered.table-striped.table-vcenter.table-hover
					thead
						tr
							th.text-center
								i.fa.fa-tshirt
							th Item
							th.d-none.d-sm-table-cell Proveedor
							th.text-center Disponible
							th.d-none.d-sm-table-cell Costo
							th Precio
							th Valor
					tbody
						tr(v-for="article in articles")
							td.text-center
								img(class="img-avatar img-avatar64" :src="article.photos[0].url")
							td.font-size-sm
								p.font-w600.mb-1
									router-link(:to="url(article.id)") {{ article.name }}
								p.text-muted.mb-0 {{ article.reference }}
							td.d-none.d-sm-table-cell {{ article.provider.name }}
							td.text-center {{ article.initial_amount - article.quantity_sold }} Unidades
							td.d-none.d-sm-table-cell {{ article.cost }}$
							td.text-center {{ article.price }}$
							td.text-center {{ article.price * (article.initial_amount - article.quantity_sold) }}$
						tr
							td.text-right(colspan='4') Total valor de invnetario
							td {{ total }}$
</template>

<script>
	import { mapActions, mapGetters, mapState } from 'vuex'

	export default {
		created () {
			if ( !this.loaded ) {
				this.getArticles()
			}
		},

		computed: {
			...mapGetters({
				articles: 'inventories/allArticles',
			}),
			...mapState({
				loaded: 'inventories/loaded'
			}),

			total () {
				let suma = 0
				for(let article in this.articles){
					suma = suma + this.articles[article].price * (this.articles[article].initial_amount - this.articles[article].quantity_sold)
				}

				return suma
			}
		},
		methods: {
			...mapActions({
				getArticles: 'inventories/getArticles',
			}),

			url (item) {
				return `/inventories/items/${item}`
			}
/*
			edit (id) {
				this.$router.push(`/inventories/${id}`)
			}*/
		}	
	}
</script>