<template lang="pug">
div
	slot(name='primary')
		.bg-gray
				div(class="content content-full")
					div(class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center")
						h1(class="flex-sm-fill h3 my-2") 
							i.fa.fa-file-invoice
							span  Generar factura
						nav(class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb")
							ol(class="breadcrumb breadcrumb-alt")
								li(class="breadcrumb-item" aria-current="page")
									router-link(class='btn btn-outline-dark' to="/invoices")
										span Cancelar
	slot
	.col-md-12
		.block.block-rounded.block-themed
			.block-header.bg-primary-dark
				h3.block-title Detalles
			.block-content.block-content-full
				.alert.alert-warning(v-if="errors.errors")
					p {{ errors.message }}
					ul
						li(v-for='error in errors.errors') {{ error[0] }}
				.row
					.col-md-12
						.form-group.form-row
							.col-md-2.col-sm-6
								label Numero
								input.form-control(disabled v-model='consecutive.id + 1')
							.col-md-3.col-sm-4
								label Cliente
								multiselect(:options='clients' v-model='client' track-by='id' label='full_name' )
							.col-md-2.col-sm-2
								label Precio	
								multiselect(:options='prices' v-model='price' track-by='id' label='name' )
							.col-md-2.col-sm-6
								label Creacion
								input.form-control(v-model='today' disabled)
							.col-md-1.col-sm-6
								label Plazo
								input.form-control(type='number' v-model='plazo')
							.col-md-2.col-sm-6
								label Vencimiento
								input.form-control(v-model='expires' disabled)
				.row
					.col-md-12
						div.table-responsive
							table.table.table-bordered.table-striped.table-vcenter.table-hover
								thead
									tr
										th Item
										th Talla y Color
										th Precio
										th Cantidad
										th Total
										th.text-center +/-
								tbody
									tr
										td(width='250px')
											multiselect(:options='products' v-model='product' track-by='id' label='name')
												template(slot="singleLabel", slot-scope="props")
													.option__desc
														span.option__title 
															strong {{ props.option.bar_code }} - 
														span.option__small {{ props.option.name }}
												template(slot="option", slot-scope="props")
													.option__desc
														span.option__title {{ props.option.bar_code }} - 
														span.option__small {{ props.option.name }}
										td(width='250px')
											multiselect(:options='new_item.product.articles' v-model='article_select' track-by='id')
												template(slot="singleLabel", slot-scope="props")
													.option__desc
														span.option__title 
															strong {{ props.option.size }} - 
														span.option__small {{ props.option.color }}
												template(slot="option", slot-scope="props")
													.option__desc
														span.option__title {{ props.option.size }} - 
														span.option__small {{ props.option.color }}
										td {{ price_article }}$
										td(width='50px')
											input(type='number' min='1' v-model='new_item.pivot.quantity').form-control
										td {{ total_new_item }}$
										td.text-center
											button.btn.btn-success.btn-rounded.btn-sm(@click='addItem')
												i.fa.fa-plus
									tr(v-for='(item, index) in form.items')
										td {{ item.product.name }}
										td.d-none.d-sm-table-cell {{ item.article_select.size }} - {{ item.article_select.color }}
										td {{ item.pivot.price }}$
										td 
											input.form-control(v-model='item.pivot.quantity' type='number' @keyup='recalcularSubTotal(item)' @change='recalcularSubTotal(item)')
										td {{ item.pivot.total }}$
										td.text-center
											button.btn.btn-danger.btn-rounded.btn-sm(@click='removeItem(index)')
												i.si.si-close
									tr
										td.d-none.d-sm-table-cell
										td.d-none.d-sm-table-cell
										td 
										td 
										td Total
										td {{ total }}$
		.block.block-rounded.block-themed
			.block-content.block-content-full
				.form-group.form-row
					button.btn.btn-primary(@click='save') Guardar
</template>

<script>
	import Multiselect from 'vue-multiselect'
	import { mapGetters, mapActions } from 'vuex'

	export default {

		components: { Multiselect },

		data () {
			return {				
				errors: {},
				form: {
					client: '',
					price_id: '',
					created: '',
					expires: '',
					total: 0,
					items: []
				},

				selects: {
					client: {
						type_price: {}
					},
				},

				new_item: {
					id: '',
					product: {
						articles: []
					},
					article_select: {},
					article: '',
					pivot: {							
						price: 0,
						quantity: 1,
						total: 0
					}
				},

				plazo: 0
			}
		},

		created() {
			this.getClients()
			this.getProducts()
			this.getSales()
			this.getPrices()
		},

		computed: {

			...mapGetters({
				clients: 'clients/allClients',
				products: 'inventories/allProducts',
				lastSale: 'invoices/lastSale',
				prices: 'config/allPrices'
			}),

			today () {
				let today = Moment().format('l')
				this.form.created = today;
				return today
			},

			expires () {
				let expires = Moment().add(this.plazo, 'days').format('l')
				this.form.expires = expires
				return expires
			},

			client: {
				set (value) {
					this.form.price_id = value.type_price.id

					this.form.client = value.id
					this.selects.client = value
				},
				get () {
					return this.selects.client
				}
			},

			price: {
				set (value) {
					this.form.price_id = value.id
					this.selects.client.type_price = value
				},
				get () {
					return this.selects.client.type_price
				}
			},

			product: {
				set (value) {
					
					let item = this.new_item
					item.id = value.id
					item.pivot.price = value.price

					this.new_item.product = value
				},
				get () {
					return this.new_item.product
				}
			},

			article_select: {
				set (value) {
					this.new_item.article_select = value

					this.new_item.article = value.id
				},

				get () {
					return this.new_item.article_select
				}
			},

			consecutive () {
				return this.lastSale ? this.lastSale : { id: 0 }
			},

			price_article () {
				if(!this.product.prices) { return 0 }

				let price = this.product.prices.find((item, key) => {
					return item.id == this.form.price_id
				})

				return price.pivot.amount
			},

			total_new_item () {
				let price = this.price_article
				let total =  price ? price * this.new_item.pivot.quantity : 0
				this.new_item.pivot.price = price
				this.new_item.pivot.total = total
				return total
			},

			total () {
				let items = this.form.items
				let sum = 0

				for(let item in items) {
					sum += items[item].pivot.total
				}

				this.form.total = sum

				return sum
			}
		},

		methods: {
			...mapActions({
				getClients: 'clients/getClients',
				getProducts: 'inventories/getProducts',
				setSale: 'invoices/setSale',
				getSales: 'invoices/getSales',
				getPrices: 'config/getPrices',
			}),

			save () {
				this.setSale(this.form).then((data) => {
					this.$swal('Se ingreso la factura exitosamente.')
					this.$router.push(`/invoices/sale/${data.id}`)
				}).catch(data => {
					this.errors = data
					window.scrollTo(0, 0);
				})
			},

			addItem () {
				this.form.items.push(this.new_item)
				this.selects.article = {}
				this.new_item = {
					product: {
						articles: []
					},
					article: '',
					pivot: {							
						quantity: 1,
						total: 0,
						price: 0
					}
				}
			},

			removeItem (item) {
				this.form.items.splice(item, 1)
			},

			recalcularSubTotal (item) {
				item.pivot.total = item.pivot.price * item.pivot.quantity
			},
		}

	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
