<template lang="pug">
.block.block-rounded.block-themed
	.block-header.bg-modern
		h3.block-title Informacion del producto
	.block-content.block-content-full
		<!-- .alert.alert-warning(v-if="errors.errors")
			p {{ errors.message }}
			ul
				li(v-for='error in errors.errors') {{ error[0] }} -->
		.row
			.col-md-12
				.form-group.form-row
					.col-md-3.col-sm-6
						label Proveedor
						multiselect(:options='providers' track-by='name' label='name' v-model='provider')
					.col-md-3.col-sm-6
						label Codigo Barra
						input.form-control(v-model='bar_code')
					.col-md-3.col-sm-6
						label Referencia
						input.form-control(v-model='reference')
					.col-md-3.col-sm-6
						label Nombre
						input.form-control(v-model='name')
				.form-group.form-row
					.col-md-2.col-sm-6
						label Cantidad	
						input.form-control(v-model='initial_amount' type='number' min='0')
					.col-md-2.col-sm-6
						label Costo
						input.form-control(v-model='cost')
					.col-md-8.col-sm-6
						label Descripcion
						input.form-control(v-model='description')
				.content-heading.border-bottom.mb-1.pb-2 Precios
				.form-group.form-row
					.col-md-2.col-sm-6(v-for='price in prices')
						label {{ price['name'] }}
						input.form-control(@keyup="loadData(`prices[${price.id}][amount]`, $event.target.value)" type='number' placeholder="0,0$")
</template>

<script>
	import Multiselect from 'vue-multiselect'

	import { mapActions, mapGetters } from 'vuex'

	export default {

		components: { Multiselect },

		data () {
			return {
				form: {
					provider: '',
					name: '',
					bar_code: '',
					reference: '',
					price: '',
					cost: '',
					initial_amount: '',
					description: '',
				}
			}
		},

		created () {
			this.getProviders()
			this.getPrices()
		},

		computed: {
			...mapGetters({
				providers: 'providers/allProviders',
				prices: 'config/allPrices'
			}),

			provider: {
				set (value) {
					this.form.provider = value
					this.loadData('provider_id', value.id)
				},

				get () {
					return this.form.provider
				}

			},
			name: {
				set (value) {
					this.form.name = value
					this.loadData('name', value)
				},

				get () {
					return this.form.name
				}

			},
			price: {
				set (value) {
					this.form.price = value
					this.loadData('price', value)
				},

				get () {
					return this.form.price
				}

			},
			cost: {
				set (value) {
					this.form.cost = value
					this.loadData('cost', value)
				},

				get () {
					return this.form.cost
				}

			},
			initial_amount: {
				set (value) {
					this.form.initial_amount = value
					this.loadData('initial_amount', value)
				},

				get () {
					return this.form.initial_amount
				}

			},
			bar_code: {
				set (value) {
					this.form.bar_code = value
					this.loadData('bar_code', value)
				},

				get () {
					return this.form.bar_code
				}

			},
			reference: {
				set (value) {
					this.form.reference = value
					this.loadData('reference', value)
				},

				get () {
					return this.form.reference
				}

			},
			description: {
				set (value) {
					this.form.description = value
					this.loadData('description', value)
				},

				get () {
					return this.form.description
				}

			},
		},

		methods: {
			...mapActions({
				getProviders: 'providers/getProviders',
				getPrices: 'config/getPrices'
			}),

			loadData (field, value) {
				this.$emit('loadData', { field, value })
			}
		}

	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>