<template lang="pug">
.block.block-rounded.block-themed
	.block-header.bg-red
		h3.block-title Lista de articulos
		button.btn.btn-sm.btn-success.btn-rounded(@click='addArticle')
			i.fa.fa-plus
	form.table-responsive(@keyup='loadData')
		table.table.table-bordered.table-striped.table-vcenter.table-hover
			thead
				tr
					th Talla
					th Color
					th Cantidad
					th.text-center(width='100px') Acciones
			tbody
				tr(v-for='(article, index) in articles')
					td
						input.form-control(v-model='article.size' placeholder='Talla')
					td
						input.form-control(v-model='article.color' placeholder='Color')
					td
						input.form-control(v-model='article.quantity' type='number' min='0' placeholder='Cantidad')
					td.text-center
						.btn-group
							button(type="button" class="btn btn-sm btn-danger" @click='removeArticle(index)')
								i.si.si-close
</template>

<script>
	export default {
		data () {
			return {
				articles: [
					{
						size: '',
						color: '',
						quantity: 0
					}
				]
			}
		},

		methods: {
			addArticle () {
				this.articles.push({
						size: '',
						color: '',
						quantity: 0
				})
			},

			removeArticle (article) {
				this.articles.splice(article, 1)
			},

			loadData() {
				let articles = this.articles
				this.$emit('loadData', articles )
			}
		}
	}
</script>